<h1>Neural_Network

In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 500)

In [3]:
filename = 'cleaned_fraudTrain.csv'
# import Dataset
path = '../dataset/midterm_dataset/'+filename
df = pd.read_csv(path)

row_num = df.shape[0]
feature_num = df.shape[1]

print(df.shape)
df.head()

(1296675, 14)

,category,amt,is_male,lat,long,city_pop,job,unix_time,is_fraud,state_city,age,trans_time,trans_year,trans_month
0,misc_net,4.97,0,36.0788,-81.1781,3495,"Psychologist, counselling",1325376018,0,"28654, Moravian Falls, NC",31,Late Night,2019,1
1,grocery_pos,107.23,0,48.8878,-118.2105,149,Special educational needs teacher,1325376044,0,"99160, Orient, WA",41,Late Night,2019,1
2,entertainment,220.11,1,42.1808,-112.2620,4154,Nature conservation officer,1325376051,0,"83252, Malad City, ID",57,Late Night,2019,1
3,gas_transport,45.00,1,46.2306,-112.1138,1939,Patent attorney,1325376076,0,"59632, Boulder, MT",52,Late Night,2019,1
4,misc_pos,41.96,1,38.4207,-79.4629,99,Dance movement psychotherapist,1325376186,0,"24433, Doe Hill, VA",33,Late Night,2019,1

<h2> Normalize

In [4]:
nor_col = ['amt', 'city_pop','lat', 'long', 'unix_time', 'age']
        
df[nor_col] = df[nor_col].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

In [5]:
df

,category,amt,is_male,lat,long,city_pop,job,unix_time,is_fraud,state_city,age,trans_time,trans_year,trans_month
0,misc_net,0.000137,0,0.343968,0.864638,0.001194,"Psychologist, counselling",0.000000e+00,0,"28654, Moravian Falls, NC",0.207317,Late Night,2019,1
1,grocery_pos,0.003670,0,0.618450,0.485682,0.000043,Special educational needs teacher,5.598526e-07,0,"99160, Orient, WA",0.329268,Late Night,2019,1
2,entertainment,0.007569,1,0.474727,0.546553,0.001421,Nature conservation officer,7.105821e-07,0,"83252, Malad City, ID",0.524390,Late Night,2019,1
3,gas_transport,0.001520,1,0.561509,0.548070,0.000659,Patent attorney,1.248902e-06,0,"59632, Boulder, MT",0.463415,Late Night,2019,1
4,misc_pos,0.001415,1,0.394153,0.882190,0.000026,Dance movement psychotherapist,3.617509e-06,0,"24433, Doe Hill, VA",0.231707,Late Night,2019,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,entertainment,0.000503,1,0.379084,0.544346,0.000081,Geoscientist,9.999981e-01,0,"84735, Hatch, UT",0.548780,Morning,2020,6
1296671,food_dining,0.001751,1,0.412281,0.902174,0.000026,"Production assistant, television",9.999983e-01,0,"21790, Tuscarora, MD",0.329268,Morning,2020,6
1296672,food_dining,0.003625,1,0.276699,0.612486,0.000301,Naval architect,9.999986e-01,0,"88325, High Rolls Mountain Park, NM",0.475610,Morning,2020,6
1296673,food_dining,0.002553,1,0.499837,0.646029,0.000379,Volunteer coordinator,1.000000e+00,0,"57756, Manderson, SD",0.317073,Morning,2020,6
1296674,food_dining,0.000114,1,0.553210,0.530050,0.000067,"Therapist, horticultural",1.000000e+00,0,"59871, Sula, MT",0.134146,Morning,2020,6

In [1]:
df = pd.get_dummies(df, columns=['category', 'trans_year', 'trans_month', 'trans_time', 'job', 'state_city'])
df.head()

NameError: name 'pd' is not defined