<h1>Neural_Network

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 500)

In [2]:
filename = 'cleaned_fraudTrain.csv'
# import Dataset
path = '../dataset/midterm_dataset/'+filename
df = pd.read_csv(path)

row_num = df.shape[0]
feature_num = df.shape[1]

print(df.shape)
df.head()

(1296675, 14)

,category,amt,is_male,lat,long,city_pop,job,unix_time,is_fraud,state_city,age,trans_time,trans_year,trans_month
0,misc_net,4.97,0,36.0788,-81.1781,3495,"Psychologist, counselling",1325376018,0,"28654, Moravian Falls, NC",31,Late Night,2019,1
1,grocery_pos,107.23,0,48.8878,-118.2105,149,Special educational needs teacher,1325376044,0,"99160, Orient, WA",41,Late Night,2019,1
2,entertainment,220.11,1,42.1808,-112.2620,4154,Nature conservation officer,1325376051,0,"83252, Malad City, ID",57,Late Night,2019,1
3,gas_transport,45.00,1,46.2306,-112.1138,1939,Patent attorney,1325376076,0,"59632, Boulder, MT",52,Late Night,2019,1
4,misc_pos,41.96,1,38.4207,-79.4629,99,Dance movement psychotherapist,1325376186,0,"24433, Doe Hill, VA",33,Late Night,2019,1

<h2> Transform all to numeric

In [3]:
#from information gain job and state_city dont have much value so i drop it
#delete all neccesary columns
del_col = ['job', 'state_city', 'trans_time', 'category', 'trans_month', 'is_male', 'trans_year']
for col in del_col:
    if col in df.columns.tolist():
        df = df.drop(col, 1)
df.head()

      amt      lat      long  city_pop   unix_time  is_fraud  age
0    4.97  36.0788  -81.1781      3495  1325376018         0   31
1  107.23  48.8878 -118.2105       149  1325376044         0   41
2  220.11  42.1808 -112.2620      4154  1325376051         0   57
3   45.00  46.2306 -112.1138      1939  1325376076         0   52
4   41.96  38.4207  -79.4629        99  1325376186         0   33

In [4]:
nor_col = ['amt', 'city_pop','lat', 'long', 'unix_time', 'age']
        
df[nor_col] = df[nor_col].apply(lambda x: (x - x.min()) / (x.max() - x.min()))
df

,amt,lat,long,city_pop,unix_time,is_fraud,age
0,0.000137,0.343968,0.864638,0.001194,0.000000e+00,0,0.207317
1,0.003670,0.618450,0.485682,0.000043,5.598526e-07,0,0.329268
2,0.007569,0.474727,0.546553,0.001421,7.105821e-07,0,0.524390
3,0.001520,0.561509,0.548070,0.000659,1.248902e-06,0,0.463415
4,0.001415,0.394153,0.882190,0.000026,3.617509e-06,0,0.231707
...,...,...,...,...,...,...,...
1296670,0.000503,0.379084,0.544346,0.000081,9.999981e-01,0,0.548780
1296671,0.001751,0.412281,0.902174,0.000026,9.999983e-01,0,0.329268
1296672,0.003625,0.276699,0.612486,0.000301,9.999986e-01,0,0.475610
1296673,0.002553,0.499837,0.646029,0.000379,1.000000e+00,0,0.317073
1296674,0.000114,0.553210,0.530050,0.000067,1.000000e+00,0,0.134146

In [5]:
label = 'is_fraud'
label

'is_fraud'

In [6]:
features = df.loc[:, df.columns != label].columns.tolist()

In [7]:
y_train = df[label]
y_train.head()

0    0
1    0
2    0
3    0
4    0
Name: is_fraud, dtype: int64

In [8]:
X_train = df[features]
X_train.head()

        amt       lat      long  city_pop     unix_time       age
0  0.000137  0.343968  0.864638  0.001194  0.000000e+00  0.207317
1  0.003670  0.618450  0.485682  0.000043  5.598526e-07  0.329268
2  0.007569  0.474727  0.546553  0.001421  7.105821e-07  0.524390
3  0.001520  0.561509  0.548070  0.000659  1.248902e-06  0.463415
4  0.001415  0.394153  0.882190  0.000026  3.617509e-06  0.231707

In [9]:
#import deep learning lib
from numpy import loadtxt
from keras.models import Sequential
from keras.layers import Dense

In [13]:
#define the keras model
model = Sequential()
model.add(Dense(12, input_dim=6, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [14]:
#compile the keras model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

<h2> Training

In [15]:
#fit the keras model on the dataset
model.fit(X_train, y_train, epochs=150, batch_size=10)

Epoch 1/150
129668/129668 [==============================] - 72s 549us/step - loss: 0.0358 - accuracy: 0.9920
Epoch 2/150
129668/129668 [==============================] - 71s 551us/step - loss: 0.0236 - accuracy: 0.9943
Epoch 3/150
129668/129668 [==============================] - 72s 551us/step - loss: 0.0237 - accuracy: 0.9942
Epoch 4/150
129668/129668 [==============================] - 72s 554us/step - loss: 0.0232 - accuracy: 0.9942
Epoch 5/150
129668/129668 [==============================] - 72s 553us/step - loss: 0.0232 - accuracy: 0.9942
Epoch 6/150
129668/129668 [==============================] - 72s 553us/step - loss: 0.0230 - accuracy: 0.9943
Epoch 7/150
129668/129668 [==============================] - 72s 553us/step - loss: 0.0229 - accuracy: 0.9942
Epoch 8/150
129668/129668 [==============================] - 72s 554us/step - loss: 0.0231 - accuracy: 0.9942
Epoch 9/150
129668/129668 [==============================] - 72s 552us/step - loss: 0.0230 - accuracy: 0.9942
Epoch 10/150
129668/129668 [==============================] - 72s 555us/step - loss: 0.0232 - accuracy: 0.9942
Epoch 11/150
129668/129668 [==============================] - 72s 554us/step - loss: 0.0228 - accuracy: 0.9943
Epoch 12/150
129668/129668 [==============================] - 72s 555us/step - loss: 0.0228 - accuracy: 0.9942
Epoch 13/150
129668/129668 [==============================] - 72s 554us/step - loss: 0.0231 - accuracy: 0.9942
Epoch 14/150
129668/129668 [==============================] - 72s 554us/step - loss: 0.0230 - accuracy: 0.9941
Epoch 15/150
129668/129668 [==============================] - 72s 554us/step - loss: 0.0230 - accuracy: 0.9942
Epoch 16/150
129668/129668 [==============================] - 71s 551us/step - loss: 0.0230 - accuracy: 0.9942
Epoch 17/150
129668/129668 [==============================] - 72s 552us/step - loss: 0.0231 - accuracy: 0.9943
Epoch 18/150
129668/129668 [==============================] - 72s 552us/step - loss: 0.0230 - accuracy: 0.9943
Epoch 19/150
129668/129668 [==============================] - 72s 554us/step - loss: 0.0232 - accuracy: 0.9941
Epoch 20/150
129668/129668 [==============================] - 72s 554us/step - loss: 0.0229 - accuracy: 0.9942
Epoch 21/150
129668/129668 [==============================] - 71s 551us/step - loss: 0.0228 - accuracy: 0.9942
Epoch 22/150
129668/129668 [==============================] - 71s 551us/step - loss: 0.0221 - accuracy: 0.9942
Epoch 23/150
129668/129668 [==============================] - 72s 553us/step - loss: 0.0217 - accuracy: 0.9942
Epoch 24/150
129668/129668 [==============================] - 72s 556us/step - loss: 0.0217 - accuracy: 0.9942
Epoch 25/150
129668/129668 [==============================] - 72s 556us/step - loss: 0.0218 - accuracy: 0.9942
Epoch 26/150
129668/129668 [==============================] - 71s 548us/step - loss: 0.0217 - accuracy: 0.9942
Epoch 27/150
129668/129668 [==============================] - 71s 551us/step - loss: 0.0217 - accuracy: 0.9941
Epoch 28/150
129668/129668 [==============================] - 71s 550us/step - loss: 0.0214 - accuracy: 0.9942
Epoch 29/150
129668/129668 [==============================] - 72s 551us/step - loss: 0.0217 - accuracy: 0.9941
Epoch 30/150
129668/129668 [==============================] - 72s 552us/step - loss: 0.0218 - accuracy: 0.9940
Epoch 31/150
129668/129668 [==============================] - 72s 552us/step - loss: 0.0215 - accuracy: 0.9941
Epoch 32/150
129668/129668 [==============================] - 71s 551us/step - loss: 0.0213 - accuracy: 0.9942
Epoch 33/150
129668/129668 [==============================] - 72s 552us/step - loss: 0.0214 - accuracy: 0.9942
Epoch 34/150
129668/129668 [==============================] - 71s 551us/step - loss: 0.0216 - accuracy: 0.9942
Epoch 35/150
129668/129668 [==============================] - 71s 551us/step - loss: 0.0212 - accuracy: 0.9943
Epoch 36/150
129668/129668 [==============================] - 71s 551us/step - loss: 0.0216 - accuracy: 0.9942s - loss: 0.0216 - accuracy
Epoch 37/150
129668/129668 [==============================] - 71s 549us/step - loss: 0.0212 - accuracy: 0.9942
Epoch 38/150
129668/129668 [==============================] - 71s 551us/step - loss: 0.0216 - accuracy: 0.9941
Epoch 39/150
129668/129668 [==============================] - 71s 550us/step - loss: 0.0214 - accuracy: 0.9941
Epoch 40/150
129668/129668 [==============================] - 71s 550us/step - loss: 0.0211 - accuracy: 0.9943
Epoch 41/150
129668/129668 [==============================] - 71s 551us/step - loss: 0.0214 - accuracy: 0.9941
Epoch 42/150
129668/129668 [==============================] - 72s 553us/step - loss: 0.0214 - accuracy: 0.9942
Epoch 43/150
129668/129668 [==============================] - 72s 552us/step - loss: 0.0211 - accuracy: 0.9943
Epoch 44/150
129668/129668 [==============================] - ETA: 0s - loss: 0.0214 - accuracy: 0.99 - 72s 552us/step - loss: 0.0214 - accuracy: 0.9942
Epoch 45/150
129668/129668 [==============================] - 72s 553us/step - loss: 0.0212 - accuracy: 0.9942
Epoch 46/150
129668/129668 [==============================] - 72s 554us/step - loss: 0.0210 - accuracy: 0.9942
Epoch 47/150
129668/129668 [==============================] - 71s 550us/step - loss: 0.0213 - accuracy: 0.9942
Epoch 48/150
129668/129668 [==============================] - 71s 551us/step - loss: 0.0215 - accuracy: 0.9942
Epoch 49/150
129668/129668 [==============================] - 71s 551us/step - loss: 0.0213 - accuracy: 0.9942
Epoch 50/150
129668/129668 [==============================] - 72s 555us/step - loss: 0.0213 - accuracy: 0.9942
Epoch 51/150
129668/129668 [==============================] - 72s 554us/step - loss: 0.0214 - accuracy: 0.9942
Epoch 52/150
129668/129668 [==============================] - 72s 554us/step - loss: 0.0209 - accuracy: 0.9943
Epoch 53/150
129668/129668 [==============================] - 72s 553us/step - loss: 0.0212 - accuracy: 0.9942
Epoch 54/150
129668/129668 [==============================] - 71s 551us/step - loss: 0.0208 - accuracy: 0.9942
Epoch 55/150
129668/129668 [==============================] - 71s 550us/step - loss: 0.0212 - accuracy: 0.9943s - loss: 0.0212 - accuracy
Epoch 56/150
129668/129668 [==============================] - 72s 552us/step - loss: 0.0210 - accuracy: 0.9943
Epoch 57/150
129668/129668 [==============================] - 71s 549us/step - loss: 0.0209 - accuracy: 0.9942
Epoch 58/150
129668/129668 [==============================] - 72s 552us/step - loss: 0.0211 - accuracy: 0.9943
Epoch 59/150
129668/129668 [==============================] - 72s 552us/step - loss: 0.0215 - accuracy: 0.9942
Epoch 60/150
129668/129668 [==============================] - 71s 551us/step - loss: 0.0212 - accuracy: 0.9942
Epoch 61/150
129668/129668 [==============================] - 71s 551us/step - loss: 0.0214 - accuracy: 0.9943
Epoch 62/150
129668/129668 [==============================] - 71s 550us/step - loss: 0.0213 - accuracy: 0.9942
Epoch 63/150
129668/129668 [==============================] - 71s 550us/step - loss: 0.0216 - accuracy: 0.9941
Epoch 64/150
129668/129668 [==============================] - 71s 549us/step - loss: 0.0208 - accuracy: 0.9943
Epoch 65/150
129668/129668 [==============================] - 71s 549us/step - loss: 0.0210 - accuracy: 0.9943
Epoch 66/150
129668/129668 [==============================] - 71s 550us/step - loss: 0.0212 - accuracy: 0.9942
Epoch 67/150
129668/129668 [==============================] - 72s 552us/step - loss: 0.0214 - accuracy: 0.9942
Epoch 68/150
129668/129668 [==============================] - 71s 551us/step - loss: 0.0214 - accuracy: 0.9941
Epoch 69/150
129668/129668 [==============================] - 71s 549us/step - loss: 0.0212 - accuracy: 0.9942
Epoch 70/150
129668/129668 [==============================] - 72s 552us/step - loss: 0.0213 - accuracy: 0.9942
Epoch 71/150
129668/129668 [==============================] - 72s 553us/step - loss: 0.0213 - accuracy: 0.9942
Epoch 72/150
129668/129668 [==============================] - 72s 552us/step - loss: 0.0209 - accuracy: 0.9942
Epoch 73/150
129668/129668 [==============================] - 72s 551us/step - loss: 0.0216 - accuracy: 0.9941
Epoch 74/150

129668/129668 [==============================] - 72s 556us/step - loss: 0.0211 - accuracy: 0.9942
Epoch 75/150
129668/129668 [==============================] - 71s 551us/step - loss: 0.0208 - accuracy: 0.9943
Epoch 76/150
129668/129668 [==============================] - 71s 549us/step - loss: 0.0211 - accuracy: 0.9943
Epoch 77/150
129668/129668 [==============================] - 72s 552us/step - loss: 0.0213 - accuracy: 0.9941
Epoch 78/150
129668/129668 [==============================] - 71s 549us/step - loss: 0.0210 - accuracy: 0.9942
Epoch 79/150
129668/129668 [==============================] - 71s 550us/step - loss: 0.0218 - accuracy: 0.9941
Epoch 80/150
129668/129668 [==============================] - 71s 550us/step - loss: 0.0211 - accuracy: 0.9942
Epoch 81/150
129668/129668 [==============================] - 71s 549us/step - loss: 0.0211 - accuracy: 0.9943
Epoch 82/150
129668/129668 [==============================] - 71s 551us/step - loss: 0.0207 - accuracy: 0.9943
Epoch 83/150
129668/129668 [==============================] - 71s 551us/step - loss: 0.0211 - accuracy: 0.9943
Epoch 84/150
129668/129668 [==============================] - 72s 555us/step - loss: 0.0212 - accuracy: 0.9942
Epoch 85/150
129668/129668 [==============================] - 71s 549us/step - loss: 0.0214 - accuracy: 0.9941
Epoch 86/150
129668/129668 [==============================] - 71s 550us/step - loss: 0.0211 - accuracy: 0.9942
Epoch 87/150
129668/129668 [==============================] - 72s 554us/step - loss: 0.0214 - accuracy: 0.9941
Epoch 88/150
129668/129668 [==============================] - 72s 556us/step - loss: 0.0212 - accuracy: 0.9942
Epoch 89/150
129668/129668 [==============================] - 71s 550us/step - loss: 0.0206 - accuracy: 0.9945s - loss: 0.0206
Epoch 90/150
129668/129668 [==============================] - 71s 550us/step - loss: 0.0209 - accuracy: 0.9944
Epoch 91/150
129668/129668 [==============================] - 71s 549us/step - loss: 0.0201 - accuracy: 0.9945
Epoch 92/150
129668/129668 [==============================] - 72s 553us/step - loss: 0.0209 - accuracy: 0.9942s -
Epoch 93/150
129668/129668 [==============================] - 72s 554us/step - loss: 0.0208 - accuracy: 0.9942
Epoch 94/150
129668/129668 [==============================] - 72s 554us/step - loss: 0.0208 - accuracy: 0.9943
Epoch 95/150
129668/129668 [==============================] - 71s 550us/step - loss: 0.0201 - accuracy: 0.9945
Epoch 96/150
129668/129668 [==============================] - 71s 551us/step - loss: 0.0207 - accuracy: 0.9944
Epoch 97/150
129668/129668 [==============================] - 72s 552us/step - loss: 0.0203 - accuracy: 0.9945
Epoch 98/150
129668/129668 [==============================] - 71s 550us/step - loss: 0.0205 - accuracy: 0.9944
Epoch 99/150
129668/129668 [==============================] - 72s 552us/step - loss: 0.0205 - accuracy: 0.9944
Epoch 100/150
129668/129668 [==============================] - 71s 551us/step - loss: 0.0201 - accuracy: 0.9944
Epoch 101/150
129668/129668 [==============================] - 71s 550us/step - loss: 0.0207 - accuracy: 0.9943
Epoch 102/150
129668/129668 [==============================] - 71s 551us/step - loss: 0.0206 - accuracy: 0.9943
Epoch 103/150
129668/129668 [==============================] - 71s 548us/step - loss: 0.0203 - accuracy: 0.9943
Epoch 104/150
129668/129668 [==============================] - 71s 550us/step - loss: 0.0206 - accuracy: 0.9944
Epoch 105/150
129668/129668 [==============================] - 71s 550us/step - loss: 0.0200 - accuracy: 0.9945
Epoch 106/150
129668/129668 [==============================] - 72s 554us/step - loss: 0.0202 - accuracy: 0.9945
Epoch 107/150
129668/129668 [==============================] - 72s 556us/step - loss: 0.0200 - accuracy: 0.9944
Epoch 108/150
129668/129668 [==============================] - 72s 552us/step - loss: 0.0205 - accuracy: 0.9944
Epoch 109/150
129668/129668 [==============================] - 73s 566us/step - loss: 0.0204 - accuracy: 0.9945
Epoch 110/150
129668/129668 [==============================] - 73s 563us/step - loss: 0.0204 - accuracy: 0.9944
Epoch 111/150
129668/129668 [==============================] - 73s 564us/step - loss: 0.0205 - accuracy: 0.9944
Epoch 112/150
129668/129668 [==============================] - 73s 565us/step - loss: 0.0206 - accuracy: 0.9944
Epoch 113/150
129668/129668 [==============================] - 72s 553us/step - loss: 0.0201 - accuracy: 0.9944
Epoch 114/150
129668/129668 [==============================] - 71s 546us/step - loss: 0.0206 - accuracy: 0.9944
Epoch 115/150
129668/129668 [==============================] - 71s 546us/step - loss: 0.0207 - accuracy: 0.9943
Epoch 116/150
129668/129668 [==============================] - 71s 545us/step - loss: 0.0201 - accuracy: 0.9944
Epoch 117/150
129668/129668 [==============================] - 71s 546us/step - loss: 0.0208 - accuracy: 0.9943
Epoch 118/150
129668/129668 [==============================] - 71s 546us/step - loss: 0.0205 - accuracy: 0.9944
Epoch 119/150
129668/129668 [==============================] - 71s 546us/step - loss: 0.0205 - accuracy: 0.9942
Epoch 120/150
129668/129668 [==============================] - 71s 546us/step - loss: 0.0199 - accuracy: 0.9945
Epoch 121/150
129668/129668 [==============================] - 71s 550us/step - loss: 0.0205 - accuracy: 0.9944
Epoch 122/150
129668/129668 [==============================] - 71s 546us/step - loss: 0.0205 - accuracy: 0.9944
Epoch 123/150
129668/129668 [==============================] - 71s 548us/step - loss: 0.0204 - accuracy: 0.9945
Epoch 124/150
129668/129668 [==============================] - 71s 546us/step - loss: 0.0206 - accuracy: 0.9944
Epoch 125/150
129668/129668 [==============================] - 71s 546us/step - loss: 0.0203 - accuracy: 0.9944
Epoch 126/150
129668/129668 [==============================] - 71s 546us/step - loss: 0.0208 - accuracy: 0.9944
Epoch 127/150
129668/129668 [==============================] - 71s 546us/step - loss: 0.0205 - accuracy: 0.9944
Epoch 128/150
129668/129668 [==============================] - 72s 552us/step - loss: 0.0211 - accuracy: 0.9943
Epoch 129/150
129668/129668 [==============================] - 71s 550us/step - loss: 0.0211 - accuracy: 0.9943
Epoch 130/150
129668/129668 [==============================] - 71s 549us/step - loss: 0.0213 - accuracy: 0.9943
Epoch 131/150
129668/129668 [==============================] - 71s 546us/step - loss: 0.0213 - accuracy: 0.9941
Epoch 132/150
129668/129668 [==============================] - 71s 547us/step - loss: 0.0210 - accuracy: 0.9942
Epoch 133/150
129668/129668 [==============================] - 71s 546us/step - loss: 0.0208 - accuracy: 0.9942
Epoch 134/150
129668/129668 [==============================] - 71s 548us/step - loss: 0.0206 - accuracy: 0.9942s - loss: 0.0206 - accuracy:
Epoch 135/150
129668/129668 [==============================] - 71s 547us/step - loss: 0.0207 - accuracy: 0.9942
Epoch 136/150
129668/129668 [==============================] - 71s 545us/step - loss: 0.0212 - accuracy: 0.9941
Epoch 137/150
129668/129668 [==============================] - 71s 546us/step - loss: 0.0206 - accuracy: 0.9943
Epoch 138/150
129668/129668 [==============================] - 71s 546us/step - loss: 0.0205 - accuracy: 0.9943
Epoch 139/150
129668/129668 [==============================] - 71s 549us/step - loss: 0.0208 - accuracy: 0.9942
Epoch 140/150
129668/129668 [==============================] - 71s 548us/step - loss: 0.0212 - accuracy: 0.9941
Epoch 141/150
129668/129668 [==============================] - 72s 557us/step - loss: 0.0208 - accuracy: 0.9941
Epoch 142/150
129668/129668 [==============================] - 73s 565us/step - loss: 0.0209 - accuracy: 0.9941
Epoch 143/150
129668/129668 [==============================] - 72s 556us/step - loss: 0.0206 - accuracy: 0.9942
Epoch 144/150
129668/129668 [==============================] - 72s 558us/step - loss: 0.0206 - accuracy: 0.9942
Epoch 145/150
129668/129668 [==============================] - 73s 560us/step - loss: 0.0205 - accuracy: 0.9942
Epoch 146/150
129668/129668 [==============================] - 71s 551us/step - loss: 0.0209 - accuracy: 0.9942
Epoch 147/150

129668/129668 [==============================] - 72s 555us/step - loss: 0.0209 - accuracy: 0.9941
Epoch 148/150
129668/129668 [==============================] - 75s 579us/step - loss: 0.0202 - accuracy: 0.9943
Epoch 149/150
129668/129668 [==============================] - 74s 570us/step - loss: 0.0205 - accuracy: 0.9942
Epoch 150/150
129668/129668 [==============================] - 80s 619us/step - loss: 0.0208 - accuracy: 0.9941

<H3> Import test data

In [16]:
filename = 'cleaned_fraudTest.csv'

# import Dataset
path = '../dataset/midterm_dataset/'+filename
df_test = pd.read_csv(path)

row_num = df_test.shape[0]
feature_num = df_test.shape[1]

print(df.shape)
df_test.head()

(1296675, 7)

,category,amt,is_male,lat,long,city_pop,job,unix_time,is_fraud,state_city,age,trans_time,trans_year,trans_month
0,personal_care,2.86,1,33.9659,-80.9355,333497,Mechanical engineer,1371816865,0,"29209, Columbia, SC",52,Morning,2020,6
1,personal_care,29.84,0,40.3207,-110.4360,302,"Sales professional, IT",1371816873,0,"84002, Altonah, UT",30,Morning,2020,6
2,health_fitness,41.28,0,40.6729,-73.5365,34496,"Librarian, public",1371816893,0,"11710, Bellmore, NY",50,Morning,2020,6
3,misc_pos,60.05,1,28.5697,-80.8191,54767,Set designer,1371816915,0,"32780, Titusville, FL",33,Morning,2020,6
4,travel,3.19,1,44.2529,-85.0170,1126,Furniture designer,1371816917,0,"49632, Falmouth, MI",65,Morning,2020,6

<h3> Transform all to numeric

In [17]:
#from information gain job and state_city dont have much value so i drop it
#delete all neccesary columns
del_col = ['job', 'state_city', 'trans_time', 'category', 'trans_month', 'is_male', 'trans_year']
for col in del_col:
    if col in df_test.columns.tolist():
        df_test = df_test.drop(col, 1)
df_test.head()

     amt      lat      long  city_pop   unix_time  is_fraud  age
0   2.86  33.9659  -80.9355    333497  1371816865         0   52
1  29.84  40.3207 -110.4360       302  1371816873         0   30
2  41.28  40.6729  -73.5365     34496  1371816893         0   50
3  60.05  28.5697  -80.8191     54767  1371816915         0   33
4   3.19  44.2529  -85.0170      1126  1371816917         0   65

<h3> Normalization

In [20]:
nor_col = ['amt', 'city_pop','lat', 'long', 'unix_time', 'age']
        
df_test[nor_col] = df_test[nor_col].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

In [21]:
y_test = df_test[label]
y_test.head()

0    0
1    0
2    0
3    0
4    0
Name: is_fraud, dtype: int64

In [22]:
t_features = df_test.loc[:, df_test.columns != label].columns.tolist()

In [23]:
X_test = df_test[t_features]
X_test

             amt       lat      long  city_pop     unix_time       age
0       0.000082  0.305255  0.867121  0.114727  0.000000e+00  0.456790
1       0.001267  0.444423  0.565239  0.000096  4.785402e-07  0.185185
2       0.001769  0.452136  0.942836  0.011860  1.674891e-06  0.432099
3       0.002594  0.187080  0.868312  0.018834  2.990876e-06  0.222222
4       0.000096  0.530537  0.825355  0.000379  3.110511e-06  0.617284
...          ...       ...       ...       ...           ...       ...
555714  0.001879  0.448199  0.755010  0.000171  9.999984e-01  0.481481
555715  0.004868  0.197364  0.718694  0.009879  9.999985e-01  0.074074
555716  0.003772  0.573103  0.478609  0.001260  9.999989e-01  0.296296
555717  0.000307  0.538697  0.503704  0.000036  9.999994e-01  0.493827
555718  0.001631  0.342498  0.697821  0.039901  1.000000e+00  0.148148

[555719 rows x 6 columns]

In [24]:
#check which not in
not_in_test = [i for i in features if i not in t_features]
not_in_test

[]

In [27]:
#check index
index_not_in = [features.index(i) for i in not_in_test]
index_not_in

[]

In [28]:
temp_concat_df = {}
for f in not_in_test:
    temp_concat_df[f] = list(np.zeros(len(X_test)))
#     set_index('key').join(other.set_index('key'))
X_test = X_test.join(pd.DataFrame.from_dict(temp_concat_df))
X_test

             amt       lat      long  city_pop     unix_time       age
0       0.000082  0.305255  0.867121  0.114727  0.000000e+00  0.456790
1       0.001267  0.444423  0.565239  0.000096  4.785402e-07  0.185185
2       0.001769  0.452136  0.942836  0.011860  1.674891e-06  0.432099
3       0.002594  0.187080  0.868312  0.018834  2.990876e-06  0.222222
4       0.000096  0.530537  0.825355  0.000379  3.110511e-06  0.617284
...          ...       ...       ...       ...           ...       ...
555714  0.001879  0.448199  0.755010  0.000171  9.999984e-01  0.481481
555715  0.004868  0.197364  0.718694  0.009879  9.999985e-01  0.074074
555716  0.003772  0.573103  0.478609  0.001260  9.999989e-01  0.296296
555717  0.000307  0.538697  0.503704  0.000036  9.999994e-01  0.493827
555718  0.001631  0.342498  0.697821  0.039901  1.000000e+00  0.148148

[555719 rows x 6 columns]

<h2> Prediction

In [30]:
X_test = X_test.values.tolist()

AttributeError: 'list' object has no attribute 'values'

In [47]:
y_pred = []
predictions = model.predict_classes(X_test)
y_pred = [predictions[i] for i in range(len(X_test))]
y_test = list(y_test)
len(y_test), len(y_pred)

c:\users\admin\appdata\local\programs\python\python38\lib\site-packages\tensorflow\python\keras\engine\sequential.py:450: UserWarning: `model.predict_classes()` is deprecated and will be removed after 2021-01-01. Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).
  warnings.warn('`model.predict_classes()` is deprecated and '

(555719, 555719)

<h2> Evaluation

In [34]:
def comp_confmat(actual, predicted):

    classes = np.unique(actual) # extract the different classes
    matrix = np.zeros((len(classes), len(classes))) # initialize the confusion matrix with zeros

    for i in range(len(classes)):
        for j in range(len(classes)):

            matrix[i, j] = np.sum((actual == classes[i]) & (predicted == classes[j]))

    return matrix

In [35]:
# Calculate accuracy percentage
def accuracy_metric(actual, predicted):
    correct = 0
    for i in range(len(actual)):
        if actual[i] == predicted[i]:
            correct += 1
    return correct / float(len(actual)) * 100.0

In [36]:
def comp_f1_score(true_positive, false_positive, false_negative):
    return 2*true_positive/(2*true_positive+ false_positive+ false_negative)

In [37]:
def comp_precision(true_positive, false_positive):
    return true_positive/(true_positive+false_positive)

In [38]:
def comp_recall(true_positive, false_negative):
    return true_positive/(true_positive+false_negative)

<h2>The result:

<h3>Confustion Matrix

In [49]:
comp_confmat(y_test, y_pred)

array([[553574.,      0.],
       [  2145.,      0.]])

In [41]:
conf_mat = comp_confmat(y_test, y_pred)
true_positive = conf_mat[0][0] 
false_positive = conf_mat[0][1]
false_negative = conf_mat[1][0]
true_negative = conf_mat[1][1]

In [42]:
true_positive, false_positive, false_negative, true_negative

(553574.0, 0.0, 2145.0, 0.0)

<h3> Accuracy percentage

In [43]:
accuracy_metric(y_test, y_pred)

99.61401355721146

From Confustion Matrix
<h3> Precision

In [50]:
comp_precision(true_positive, false_positive)

1.0

From Confustion Matrix
<h3> Recall

In [45]:
comp_recall(true_positive, false_negative)

0.9961401355721147

From Confustion Matrix
<h3> F1-Score

In [46]:
comp_precision(true_positive, false_positive)

1.0