In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pd.set_option('display.max_columns', 500)

In [4]:
filename = 'cleaned_fraudTrain.csv'

In [10]:
# import Dataset
path = '../dataset/midterm_dataset/'+filename
df = pd.read_csv(path)

row_num = df.shape[0]
feature_num = df.shape[1]

print(df.shape)
df.head()

(1296675, 14)

,category,amt,is_male,lat,long,city_pop,job,unix_time,is_fraud,state_city,age,trans_time,tran_year,tran_month
0,misc_net,4.97,0,36.0788,-81.1781,3495,"Psychologist, counselling",1325376018,0,"28654, Moravian Falls, NC",31,Late Night,2019,1
1,grocery_pos,107.23,0,48.8878,-118.2105,149,Special educational needs teacher,1325376044,0,"99160, Orient, WA",41,Late Night,2019,1
2,entertainment,220.11,1,42.1808,-112.2620,4154,Nature conservation officer,1325376051,0,"83252, Malad City, ID",57,Late Night,2019,1
3,gas_transport,45.00,1,46.2306,-112.1138,1939,Patent attorney,1325376076,0,"59632, Boulder, MT",52,Late Night,2019,1
4,misc_pos,41.96,1,38.4207,-79.4629,99,Dance movement psychotherapist,1325376186,0,"24433, Doe Hill, VA",33,Late Night,2019,1

In [8]:
label = 'is_fraud'
label

'is_fraud'

In [9]:
features = df.loc[:, df.columns != label].columns.tolist()
print(features)

['category', 'amt', 'is_male', 'lat', 'long', 'city_pop', 'job', 'unix_time', 'state_city', 'age', 'trans_time', 'tran_year', 'tran_month']

In [16]:
len(df['tran_month'].value_counts())

12

<h1> Intial Entropy 'is_fraud'

In [13]:
#find intial Entropy 'is_fraud'
print(df[label].value_counts())
p_1_fraud = df[label].value_counts()[1]/len(df[label])
print('Probability Yes :', p_1_fraud)
p_0_fraud = df[label].value_counts()[0]/len(df[label])
print('Probability No :', p_0_fraud)

0    1289169
1       7506
Name: is_fraud, dtype: int64
Probability Yes : 0.005788651743883394
Probability No : 0.9942113482561166

In [14]:
intial_entropy = -p_1_fraud*np.log2(p_1_fraud)-p_0_fraud*np.log2(p_0_fraud)
intial_entropy

0.05135152470435041

In [70]:
def entropy(label, feature):
    """
    find an entropy value of feature 
    
    parameters
    ----------------------------------------
    feature: str - column from pandas dataframe
    """
    entropy_value = 0
    length_prob = len(df.groupby([feature, label]).size())
    
    for r in range(length_prob):
        entropy_value -= -df.groupby([feature, label]).size().values[r]/length_test*np.log2(df.groupby([feature, label]).size().values[r]/length_test)
    return entropy_value # float

In [41]:
df[label].value_counts()

1289169

In [48]:
df.groupby(['tran_year', 'is_fraud']).size()

tran_year  is_fraud
2019       0           919630
           1             5220
2020       0           369539
           1             2286
dtype: int64

In [50]:
df.groupby(['tran_year', 'is_fraud']).size().values

array([919630,   5220, 369539,   2286], dtype=int64)

In [54]:
df.groupby(['tran_year', 'is_fraud']).size().values[0]

919630

In [53]:
sum(df.groupby(['tran_year', 'is_fraud']).size().values)

1296675

In [51]:
df.groupby(['tran_year', 'is_fraud']).size().index

MultiIndex([(2019, 0),
            (2019, 1),
            (2020, 0),
            (2020, 1)],
           names=['tran_year', 'is_fraud'])

In [52]:
len(df.groupby(['tran_year', 'is_fraud']).size())

4

In [71]:
entropy(label, 'category')

542374.9357186068

In [65]:
length_test = len(df.groupby(['category', label]).size())
en_test = 0
for i in range(length_test):
    en_test -=  -df.groupby(['category', label]).size().values[i]/length_test*np.log2(df.groupby(['category', label]).size().values[i]/length_test)

print(en_test)

542374.9357186068

In [ ]:
542374.9357186068

In [58]:
df.groupby(['category', label]).size()

category        is_fraud
entertainment   0            93781
                1              233
food_dining     0            91310
                1              151
gas_transport   0           131041
                1              618
grocery_net     0            45318
                1              134
grocery_pos     0           121895
                1             1743
health_fitness  0            85746
                1              133
home            0           122917
                1              198
kids_pets       0           112796
                1              239
misc_net        0            62372
                1              915
misc_pos        0            79405
                1              250
personal_care   0            90538
                1              220
shopping_net    0            95830
                1             1713
shopping_pos    0           115829
                1              843
travel          0            40391
                1              116
dtype: int64